body {
    background-color: whitesmoke;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0;
    font-size: 12px;
}

#cube-holder,
#info-holder {
    border: 1px dotted transparent;
    float: left;
    padding: 10px;
    width: calc(100% - 22px); /* half the width minus (the padding plus the border) */
    height: calc(100% / 2 - 22px);
}

#info-holder {
    font-weight: bold;
    font-size: 30px;
}

#info-holder > #clock > #text,
#info-holder > #clock > #time {
    float: left;
    width: 100%;
    text-align: center;
}

#info-holder > #clock > #text {
    border-top: 1px solid black;
}

#info-holder > #clock > #time {
    font-size: 60px;
}

@media (min-width: 425px) {
    #cube-holder,
    #info-holder {
        width: calc(100% / 2 - 22px); /* half the width minus (the padding plus the border) */
        height: calc(100% - 22px);
    }
}

#moves {
    border: 1px dashed transparent;
    float: left;
    padding: 10px;
    width: calc(100% - 22px);
    height: calc(((100% / 11) * 3) - 22px);
}

.move {
    border: 1px dotted transparent;
    float: left;
    width: calc(100% / 7 - 2px);
    height: 10px;
    text-align: center;
    line-height: 2em;
}

#display {
    border: 1px dashed transparent;
    float: left;
    padding: 10px;
    width: calc(100% - 22px);
    height: calc(((100% / 11) * 8) - 22px);
}

.piece {
    border: 1px dotted red;
    float: left;
    width: calc((100% / 13) - 2px);
    height: 10px;
    margin: 1px;
}

div#display div.faded {
    opacity: 0.3;
    border: 1px black dashed !important;
}

.clearer {
    clear: both;
}

div#display div.k,
div#display div.p,
div#display div.v,
div#display div.w,
div#display div.o,
div#display div.g,
div#display div.r,
div#display div.b,
div#display div.y {
    border: 1px solid black;
    border-radius: 0.5vw;
}

div#display div.w {
    background-color: white;
    color: black;
}

div#display div.o {
    background-color: orange;
    color: black;
}

div#display div.g {
    background-color: green;
    color: white;
}

div#display div.r {
    background-color: red;
    color: white;
}

div#display div.b {
    background-color: blue;
    color: white;
}

div#display div.y {
    background-color: yellow;
    color: black;
}

div#display div.v {
    background-color: purple;
    color: white;
}

div#display div.k {
    background-color: black;
    color: white;
}

div#display div.p {
    background-color: pink;
    color: black;
}

div.ml {
    margin-left: 10px !important;
}

div.mr {
    margin-right: 10px !important;
}

div.mt {
    margin-top: 10px !important;
}

div.mb {
    margin-bottom: 10px !important;
}

