body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.templateArea {
    display: none;
}

.card {
    margin: 25px;
    padding: 10px;
    float: left;
}

.cube {
    background-color: silver;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 228px;
    height: 228px;
}

.cube,
.row {
    float: left;
}

i {
    clear: both;
    display: block;
}

.mt {
    margin-top: 10px !important;
}

.mr {
    margin-right: 10px !important;
}

.mb {
    margin-bottom: 10px !important;
}

.ml {
    margin-left: 10px !important;
}

div.full,
div.partH,
div.partV {
    border: 2px solid black;
    float: left;
    margin: 1px;
}

div.full {
    height: 50px;
    width: 50px;
}

.card.pll .full {
    background-color: yellow;
}
.card .title .text {
    height: 25px;
}

div.text {
    height: 50px;
    width: 248px;
    float: left;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    word-break: break-word;
    font-weight: bold;
    letter-spacing: 2px;
}

div.partH {
    height: 15px;
    width: 50px;
}

div.partV {
    height: 50px;
    width: 15px;
}

div.partHV {
    height: 15px;
    width: 15px;
    float: left;
    border: 2px solid transparent;
}

hr {
    clear: both;
}

.W {
    background-color: white;
}

.O {
    background-color: orange;
}

.G {
    background-color: green;
}

.B {
    background-color: #0045ef;
}

.R {
    background-color: #c70000;
}

.Y {
    background-color: yellow;
}

canvas {
    position: relative;
    top: -198px;
    left: 30px;
    height: 166px;
    width: 166px;
    z-index: 999;
    border: 1px solid green;
}