div {
    border: 1px solid TRANSPARENT;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0;
    font-size: 2em;
    margin: 1px 0 0 1px;
    height: calc(100vh - 4px);
}

.left,
.right {
    width: calc(50% - 3px);
    float: left;
    height: calc(100vh - 1%);
}

div.scramble,
div.clock {
    width: 100%;
}

div.scramble > span {
    margin: 0.4em;
    float: left;
}

div.scramble > span:hover {
    cursor: pointer;
    color: red;
}

div.break {
    clear: both;
}

div.image {
    width: 100%;
    float: left;
    height: 65%;
}

div.timings {
    width: 96%;
    float: left;
    height: 65%;
    padding: 0 2%;
}

div.timings {
    font-family: consolas;
}

div.averages {
    height: 100%;
    float: left;
    width: 52%;
    text-align: right;
    padding: 2%;
}

.buttons {
    padding: 2%;
    text-align: center;
}

.buttons button {
    background-color: #d04343;
    color: white;
}

svg {
    width: 100%;
    height: 100%;
}

div.clock {
    text-align: center;
}

div.clock {
    font-size: 4.5em;
}

ol.solvesList {
    margin: 0 0 0 30%;
    padding: 0;
    text-align: left;
}

div.solves {
    height: 100%;
    float: left;
    width: 38%;
    text-align: center;
}

div.solves {
    overflow: auto;
    padding: 2%;
}

i.fa.fa-times-circle,
i.fa.fa-info-circle {
    padding: 0 0 0 6px;
    font-size: 22px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

i.fa.fa-times-circle {
    color: firebrick;
}

i.fa.fa-info-circle {
    color: cornflowerblue;
}

input[type='radio'] {
    z-index: 999;
}

.bestworst {
    text-shadow: black 1px 1px 1px,
    black -1px -1px 1px,
    black 1px -1px 1px,
    black -1px 1px 1px;
}

.best {
    color: lawngreen;
}

.worst {
    color: deeppink;
}

#dialog.ui-widget-content {
    font-size: 0.5em;
}

div.ui-dialog .ui-dialog-titlebar {
    padding: 0;
}

.tooltip {
    font-size: 16px;
    padding: 10px;
}

rect[fill="#ff0000"] {
    fill: darkred;
}

rect[fill="#0000ff"] {
    fill: #3e76ff;
}

rect[fill="#ff8000"] {
    fill: #ff9900;
}

rect[fill="#ffff00"] {
    fill: #ffff66;
}

@media (max-width: 600px) {
    body {
        font-size: 1em;
    }

    .left,
    .right {
        width: calc(100vw - 1%);
        float: left;
        height: calc(50% - 3px);
    }

    div.clock {
        font-size: 4em;
    }
}
