div {
    border: 1px solid darkslategray;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0;
    font-size: 30px;
    margin: 1px 0 0 1px;
    height: calc(100vh - 4px);
}

.left,
.right {
    width: calc(50% - 3px);
    float: left;
    height: calc(100vh - 8px);
}

div.scramble,
div.clock {
    width: 100%;
}

div.scramble > span {
    margin: 0.4em;
    float: left;
}

div.scramble > span:hover {
    cursor: pointer;
    color: red;
}

div.break {
    clear: both;
}

div.image {
    width: 100%;
    float: left;
    height: 65%;
}

div.timings {
    width: 100%;
    float: left;
    height: 65%;
}

div.timings {
    font-family: consolas;
}

div.averages {
    height: 100%;
    float: left;
    width: 56%;
    text-align: right;
    padding: 0 4% 0 0;
}

.buttons {
    padding: 2%;
    text-align: center;
}

.buttons button {
    background-color: #d04343;
    color: white;
}

svg {
    width: 100%;
    height: 100%;
}

rect[fill=".ff0000"] {
    fill: #c70000;
}

rect[fill="#0000ff"] {
    fill: #0045ef;
}

div.clock {
    font-size: 4.5em;
    text-align: center;
}

ol.solvesList {margin: 0 0 0 30%;}

div.solves {
    height: 100%;
    float: left;
    width: 39%;
    text-align: center;
}

div.solves {
    overflow: auto;
}

i.fa.fa-times-circle {
    color: firebrick;
    padding: 0 0 0 6px;
    font-size: 22px;
    position: relative;
    top: -1px;
    cursor: no-drop;
}