div {
   /* border: 1px solid black; */
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0;
    font-size: 30px;
    margin: 1px 0 0 1px;
    height: calc(100vh - 4px);
}

#left,
#right {
    width: calc(50% - 3px);
    float: left;
    height: 100%;
}

div#scramble,
div#clock {
    width: 100%;
    height: calc((100% / 3) - 3px);
}

div#scramble > span {
    margin: 1.4vh;
    float: left;
}

div#scramble > span:hover {
    cursor: pointer;
    color: red;
}

div#break {
    clear: both;
}

div#image,
div#timings {
    width: 100%;
    height: calc(((100% / 3) * 2) - 3px);
}

div#timings {
    font-family: consolas;
}

svg {
    width: 100%;
    height: 100%;
}

rect[fill="#ff0000"] {
    fill: #c70000;
}

rect[fill="#0000ff"] {
    fill: #0045ef;
}

div#clock {
    font-size: 10vw;
    text-align: center;
    line-height: 26vh;
}

ol.timesList {
    margin: 6vh;
}

div#times,
div#averages {
    height: 100%;
    float: left;
    width: calc(100% / 2 - 3px);
}

div#times {
    overflow: auto;
}

